html,body {
    background-color: #efefef;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}
.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

/*巨幕*/
.jumbotron {
    background: url(https://cdn.mos.cms.futurecdn.net/flexiimages/uumx06zn1g1695298453.png) round;

    .jumbotron-text {
        margin: 50px;
    }
}



.jumbotron.error {
    background: none;
    margin: 50px;
}

.profile .section {
    margin-top: 20px;
}

/*搜索框*/
.bar form {
    height: 42px;
}
.bar input {
    width: 250px;
    border-radius: 42px;
    border: 2px solid #324B4E;
    background: #F9F0DA;
    transition: .3s linear;
    float: right;
}
.bar input:focus {
    width: 300px;
}
.bar button {
    top: -2px;
    right: 0;
    border: none;
}
/*搜索框*/

/*编辑按钮*/
.community-menu {
    display: block;
    color: #999;
    font-size: 15px;
    float: right;
}
/*编辑按钮*/

/*我的问题编辑按钮*/
.my-questions-edit {
    color: #999;
    font-size: 12px;
}
/*我的问题编辑按钮*/

/*回复框*/
.comment {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*回复框*/

/*回复按钮*/
.btn-comment {
    float: right;
    margin-bottom: 10px;
}
/*回复按钮*/

/*回复下的分割线*/
.comment-sp {
    margin-top: 0;
    border-color: #999;
    border-width: medium;
}
/*回复下的分割线*/

/*点赞和评论标签*/
.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 16px;
    cursor: pointer;    //鼠标悬浮样式
}

.menu .comment-icon {
    font-size: 16px;
    cursor: pointer;    //鼠标悬浮样式
}

.menu .comment-icon:hover {
    color: #499EF3;
}

.menu .active {
    color: #499EF3;
}

.menu .icon:hover {
    color: #499EF3;
}
/*点赞和评论标签*/

/*每条回复的边框*/
.comments {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding: 5px;
}
/*每条回复的边框*/

/*问题题目*/
.question-title {
    margin-top: 25px;
}
/*问题题目*/

/*二级回复边框*/
.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}
/*二级回复边框*/

/*二级回复中的按钮*/
.sub-comments .btn{
    margin-top: 10px;
}
/*二级回复中的按钮*/

/*绿色标签*/
.label-success {
    font-size: medium;
    float: none;
    margin-right: 5px;
}
/*绿色标签*/

/*蓝色标签*/
.label-info {
    font-size: x-small;
    float: none;
    margin-right: 5px;
}
/*蓝色标签*/

/*页尾*/
.footer {
    color: #666;
    padding: 10px;
}
/*页尾*/