<!DOCTYPE HTML>
<html lang="en">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css"/>
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<!-- 导航栏部分 -->
<div th:insert="~{navigation :: nav}"></div>
<!-- 主体部分 -->
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-th-large" aria-hidden="true"><span th:text="${sectionName}" style="margin-left: 5px"></span></span></h3>
            <hr>
            <div class="media" th:each="question : ${pagination.questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
<!--                    <span th:text="${question.description}"></span><br>-->
                    <span class="text-desc">
                        <span th:text="${question.commentCount}"></span>个回复&nbsp;
                        <span th:text="${question.viewCount}"></span>次浏览&nbsp;
                        <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:hh')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation" style="text-align: center;">
                <ul class="pagination" style="display: inline-block">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                            <span aria-hidden="false">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{'/profile/'+${section}(page=${pagination.page -1})}" aria-label="Previous">
                            <span aria-hidden="false">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page} ? 'active' : ''">
                        <a href="/" th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{'/profile/'+${section}(page=${pagination.page +1})}" aria-label="Previous">
                            <span aria-hidden="false">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{'/profile/'+${section}(page=${pagination.totalPage})}" aria-label="Previous">
                            <span aria-hidden="false">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 section">
            <ul class="list-group">
                <a href="/profile/questions" th:class="${section == 'action'} ? 'active list-group-item' : 'list-group-item'"><span class="badge">1</span>我的问题</a>
                <a href="/profile/repies" th:class="${section == 'repies'} ? 'active list-group-item' : 'list-group-item'"><span class="badge">2</span>最新回复</a>
                <li class="list-group-item"><span class="badge">3</span>Morbi leo risus</li>
                <li class="list-group-item"><span class="badge">4</span>Porta ac consectetur ac</li>
                <li class="list-group-item"><span class="badge">5</span>Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>